body {
    background: #ccc;
}

p {
    font-size: 30px;
}

span {
    display: block;
    margin-left: 40%;
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: bold;
    color: #f71010;
}

div {
    font-size: 30px;
}

.bfc {
    overflow: hidden;
}

/* 1 */

.one {
    width: 200px;
    height: 100px;
    background: #68cdd5;
    margin: 50px;
}

/* 2 */

.father {
    background: #e70f0f;
    border: 5px solid #3802fa;
    margin-bottom: 250px;
}

.two {
    float: left;
    margin: 10px;
    width: 100px;
    height: 100px;
    background: #1af106;
}

/* 3 */

.img {
    float: left;
    width: 300px;
    height: 500px;
    margin: 20px;
    background-image: url(https://gss3.bdstatic.com/-Po3dSag_xI4khGkpoWK1HF6hhy/baike/c0%3Dbaike150%2C5%2C5%2C150%2C50/sign=c984d09b18d5ad6ebef46cb8e0a252be/78310a55b319ebc4acda9dc68126cffc1f1716ca.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.right {
    background: #68cdd5;
}