input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input,
button {
  padding: 0;
  /* border: none; */
  /* background: none; */
  outline: none;
}

.wrapper {
  background: #232a3a;
  min-height: 100vh;
}
@media (min-width: 768px) {
  .wrapper .mynav .navbar-head {
    float: left;
  }
}
.wrapper .mynav .navbar-head .topbar-brand {
  float: left;
  text-align: center;
  line-height: .5rem;
  height: .5rem;
  font-size: .18rem;
  color: white;
  border-bottom: solid #4a5f6c 1px;
  width: 2.5rem;
}
.wrapper .mynav .topbar-content {
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 0 6px #e3e2e2;
  border-color: #e3e2e2;
}
.wrapper .mynav .topbar-content .nav {
  height: .5rem;
  line-height: .5rem;
  justify-content: flex-end;
}
.wrapper .mynav .topbar-content .nav .link {
  margin: 0 .1rem;
  padding: 0 .1rem;
  color: #337ab7;
}
.wrapper .mynav .topbar-content .nav .link:hover {
  background: #eee;
  text-decoration: none;
}
.wrapper .mynav .topbar-content .nav .line {
  font-size: .13rem;
}
.wrapper .mynav .topbar-content .nav .icon-close {
  display: inline-block;
  height: .18rem;
  width: .18rem;
  vertical-align: middle;
  background: url(../img/close.png) center/contain no-repeat;
}

.navbar-toggle-button {
  border: .01rem solid #fff;
}
.navbar-toggle-button .icon-bar {
  display: block;
  width: .22rem;
  height: .02rem;
  border-radius: .01rem;
  background: #fff;
}
.navbar-toggle-button .icon-bar:nth-child(n + 2) {
  margin-top: .04rem;
}

.navbar-toggle {
  float: right;
  padding: .09rem .1rem;
  margin-right: .15rem;
  margin-top: .08rem;
  background-color: transparent;
  background-image: none;
  border-radius: .04rem;
}
@media (min-width: 768px) {
  .navbar-toggle {
    display: none;
  }
}

@media (min-width: 768px) {
  .collapse:not(.show) {
    display: block;
  }
}

@media (min-width: 768px) {
  .navbar-collapse {
    float: left;
    width: 2.5rem;
    height: calc(100vh - 50px);
  }
}
.navbar-collapse .navbar-nav .arrow {
  float: right;
  margin-top: .08rem;
  margin-right: .1rem;
  display: inline-block;
  width: 0.08rem;
  height: 0.08rem;
  border-top: 0.015rem solid #fff;
  border-right: 0.015rem solid #fff;
  transform: rotate(45deg);
  transition: .3s;
}
.navbar-collapse .navbar-nav .arrow2 {
  transform: rotate(135deg);
}
@media (min-width: 768px) {
  .navbar-collapse .navbar-nav {
    margin-top: .3rem;
  }
}
.navbar-collapse .navbar-nav .nav-link {
  padding: .1rem .3rem .1rem .2rem;
  color: #fff;
}
.navbar-collapse .navbar-nav .nav-link:hover {
  background: rgba(255, 255, 255, 0.5);
  color: #fff;
}
.navbar-collapse .navbar-nav .nav-link::before {
  content: "";
  float: left;
  height: .15rem;
  width: .15rem;
  margin-top: .04rem;
  margin-right: .2rem;
  background: url(../img/pen.png) no-repeat 0 0/100%;
}
.navbar-collapse .navbar-nav .li-style {
  height: 0;
  line-height: .4rem;
  text-indent: .7rem;
  color: #fff;
  overflow: hidden;
  transition: height .3s;
}
.navbar-collapse .navbar-nav .li-style:hover {
  background: rgba(255, 255, 255, 0.5);
  color: #fff;
}
.navbar-collapse .navbar-nav .li-style2 {
  height: .4rem;
}
.navbar-collapse .navbar-nav .link-white {
  background: rgba(255, 255, 255, 0.5);
}
.navbar-collapse .navbar-nav .link-grey {
  background: none;
}

.page-wrapper {
  background: #f5f5f5;
  padding: .3rem .3rem .2rem .3rem;
}
@media (min-width: 768px) {
  .page-wrapper {
    float: left;
    width: calc(100% - 250px);
    height: calc(100vh - 50px);
  }
}
.page-wrapper h1 {
  padding-top: .2rem;
  padding-left: .3rem;
  font-size: .36rem;
}

.ask {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}
.ask .ask-box {
  width: 80%;
  margin: .3rem auto;
  background: #fff;
  box-shadow: 0 0 .2rem #333;
  border-radius: .08rem;
  overflow: hidden;
}
.ask .ask-box p {
  padding-left: .2rem;
  line-height: .6rem;
  border-bottom: .01rem solid #ccc;
}
.ask .ask-box p:first-child {
  color: #47c6e8;
}
.ask .ask-box .bg-blue,
.ask .ask-box .bg-orange {
  float: right;
  width: .55rem;
  margin: .15rem 0;
  margin-right: .15rem;
  line-height: .4rem;
  color: #fff;
  border-radius: .03rem;
}
.ask .ask-box .bg-blue {
  background: #337ab7;
}
.ask .ask-box .bg-blue:hover {
  box-shadow: 0 0 .2rem #337ab7;
}
.ask .ask-box .bg-orange {
  background: #f0ad4e;
}
.ask .ask-box .bg-orange:hover {
  box-shadow: 0 0 .2rem #f0ad4e;
}
@media (min-width: 768px) {
  .ask .ask-box {
    width: 6rem;
  }
}
