<div class="wrapper ng-scope clear2">
    <nav class="mynav">
        <div class="navbar-head clear">
            <b class="topbar-brand">萝卜多后台管理系统</b>
            <button class="navbar-toggle navbar-toggle-button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div class="topbar-content">
            <ul class="nav">
                <li class="link">
                    管理员
                </li>
                <span class="line">|</span>
                <li class="link">
                    admin
                </li>
                <span class="line">|</span>
                <li class="link" ng-click="logout()">
                    <a class="icon-close"></a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ">
            <li class="nav-item " ng-repeat="item in records ">
                <a class="nav-link " ng-click="toggle($index) " ng-class="{'link-white':item.change} ">
                    {{item.father}}
                    <span class="arrow " ng-class="{'arrow2':item.show}"></span>
                </a>
                <ul class="navbar-child ">
                    <li class="li-style " ng-repeat="x in item.child " ng-click="childLink(x.link,$index)" ng-class=" {'li-style2': item.show,'link-white': x.show2}">{{x.name}}</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="page-wrapper clear2" ng-click="grey()">
        <div ui-view></div>
    </div>
</div>
