input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input,
button {
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input {
  border: none;
  background: none;
  outline: none;
}

@media (max-width: 500px) {
  body {
    font-size: .14rem;
  }
}

.background {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: url(../img/bg.png) center/cover no-repeat;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 5rem;
  padding-bottom: .1rem;
  background: rgba(231, 231, 231, 0.9);
}
@media (max-width: 768px) {
  .box {
    width: 2.5rem;
  }
}
.box .title {
  font-size: .18rem;
  line-height: .5rem;
  color: #03a9f4;
}
.box form {
  width: 80%;
}
.box .input-box {
  position: relative;
  background: #fff;
  margin: .08rem 0;
  border-radius: .07rem;
}
.box .input-box img {
  position: absolute;
  left: .1rem;
  top: .14rem;
  width: .25rem;
  padding-right: .06rem;
  border-right: .01rem solid #ccc;
}
.box .input-box input {
  width: 100%;
  text-indent: .4rem;
  line-height: .5rem;
  border-radius: .07rem;
}
.box .tip,
.box .red-word,
.box .word-account {
  color: red;
  line-height: .3rem;
}
.box #login {
  width: 100%;
  line-height: .5rem;
  color: #fff;
  background: #03a9f4;
  border-radius: .07rem;
}
.box #login:hover {
  color: #333;
}
