*,
::after,
::before {
    box-sizing: border-box
}

html {
    font-size: 625%;
}

body {
    color: #333;
    font-family: arial;
    font-size: 0.16rem;
    background: white;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
form {
    margin: 0;
}

input,
button,
select,
textarea,
    {
    padding: 0;
    background: transparent;
    border: none;
    outline: none;
    appearance: none;
}

ul,
ol {
    padding-left: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
    outline: none;
}

/*image with no-border*/

a img {
    border: 0;
}

img {
    vertical-align: middle;
    border: 0;
}

.clear::after {
    content: "";
    display: table;
    clear: both;
}

.clear {
    zoom: 1;
}