
//清除input样式
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input {
    border: none;
    background: none;
    outline: none;
}

@mixin icon($width, $height, $url) {
    //图标
    display: block;
    width: $width;
    height: $height;
    border-radius: 50%;
    background: url($url) 0 0/contain no-repeat;
}


body {
    @media (max-width: 500px) {
        font-size: .14rem;
    }
}