<div class="wrapper ng-scope">
    <nav class="mynav">
        <div class="navbar-head clear">
            <b class="topbar-brand">萝卜多后台管理系统</b>
            <button class="navbar-toggle navbar-toggle-button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div class="topbar-content">
            <ul class="nav">
                <li class="link">
                    管理员
                </li>
                <span class="line">|</span>
                <li class="link">
                    admin
                </li>
                <span class="line">|</span>
                <li class="link">
                    <a class="icon-close" ng-click="logout()"></a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ">
            <li class="nav-item " ng-repeat="item in records ">
                <a class="nav-link " ng-click="toggle($index) " ng-class="{true: 'link-white',false: ''}[item.show] ">
                    {{item.father}}
                    <span class="arrow " ng-class="{true: 'arrow2',false: ''}[item.show] "></span>
                </a>
                <ul class="navbar-child ">
                    <li class="li-style " ng-repeat="child in item.child " ng-class="{true: 'li-style2',false: ''}[item.show] ">{{child}}</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="page-wrapper ">
        <ui-view></ui-view>
        <!-- 1111111 -->
        <h1 style="color: red ">
            {{A.b}} <br> 
        </h1>
        <br>
        <br> 自定义函数：
        <h1 style="color: rgb(61, 8, 8) " ng-repeat="  x in Arr2 | reverse "><span>{{x}}</span> </h1>
        
        <br/>
        <br/>
        <!-- 22222222 -->
        <div style="color: rgb(255, 0, 170);font-size: 30px ">
            {{ 12.45 | currency:'￥':1 }}
            <br> {{ 1432075948123 | date:"MM/dd/yyyy @ h:mma "}}
        </div>
        <br/>
        <br/>
        <p style="color: rgb(0, 0, 0);font-size: 20px "> 用法1（参数expression使用String）
        </p>
        <!-- 用法1（参数expression使用String）： -->
        <div style="color: blue;font-size: 30px " ng-repeat="x in Arr0 |filter : 'a'">
            <span>Name: {{x.name}}</span>
            <span>Age: {{x.age}}</span>
        </div>
        <br/>
        <br/>
        <p style="color: rgb(0, 0, 0);font-size: 20px "> 用法2（参数expression使用function）
        </p>
        <!-- 用法2（参数expression使用function）： -->
        <div style="color: rgb(9, 255, 9);font-size: 30px " ng-repeat="x in Arr0 |filter: myFilter ">
            <span>Name:{{x.name}}</span>
            <span>Age:{{x.age}}</span>
        </div>

        <br/>
        <br/>
        <p style="color: rgb(0, 0, 0);font-size: 20px "> 用法3 参数expression使用object）
        </p>
        <!-- 用法3 参数expression使用object）： -->
        <div style="color: rgb(9, 255, 9);font-size: 30px " ng-repeat="u in Arr | filter:{age:18}">
            <span>"老婆 ":{{u.name}}</span>
            <span>"年龄 ":{{u.age}}</span>
        </div>


        <br/>
        <br/>
        <p style="color: rgb(0, 0, 0);font-size: 20px ">用法4（指定comparator为true或false）： 指定comparator为false或者undefined，即为默认值可不传，将以大小写不敏感的方式匹配任意内容 true即大小写及内容均需完全匹配
        </p>

        输入:
        <input ng-model="yourName" style="background-color: rgb(255, 196, 0);font-size: 30px ">
        <div style="color: rgb(255, 196, 0);font-size: 30px " ng-repeat="x in Arr0 | filter:{name:yourName}:false ">
            <span>Name :{{x.name}}</span>
            <span>Age :{{x.age}}</span>
        </div>
        <br>
        <br>

        <!--先在Controller中定义function:myComparator, 此function将能匹配大小写不敏感的内容，但与comparator为false的情况不同的是，comparator必须匹配全文
 -->
        <p style="color: rgb(0, 0, 0);font-size: 20px "> 先在Controller中定义function:myComparator, 此function将能匹配大小写不敏感的内容，但与comparator为false的情况不同的是，comparator必须匹配全文</p>

        <div>
            输入:
            <input style="background-color: rgb(0, 217, 255);font-size: 30px " ng-model="youName" />
            <div style="color: rgb(255, 196, 0);font-size: 30px " ng-repeat="u in Arr0 | filter:{name:youName}:myComparator ">
                <span>Name:{{u.name}}</span>
                <span>Age:{{u.age}}</span>
            </div>
        </div>

        <br/>
        <br/>
        <p style="color: rgb(0, 0, 0);font-size: 20px "> limitToFilter（limitTo）,用法（选取前N个记录）
        </p>
        <!-- limitToFilter（limitTo）,用法（选取前N个记录）： -->
        <div style="color: rgb(9, 255, 9);font-size: 30px " ng-repeat="u in Arr | limitTo:2 ">
            <span>"老婆 ":{{u.name}}</span>
            <span>"年龄 ":{{u.age}}</span>
        </div>

        <br>
        <br>
        <div class="divAll ">
            <input style="background-color: rgb(238, 255, 0);font-size: 30px " type="text " placeholder="输入你要搜索的内容 " ng-model="key ">
            <br>
            <br>
            <table cellspacing="0 ">
                <thead>
                    <tr>
                        <th>老婆</th>
                        <th>年龄
                            <input type="button" ng-show="isAsc" value="▼" ng-click="sort()">
                            <input type="button" ng-show="!isAsc" value="▲" ng-click="sort()">
                        </th>
                        <th>时间</th>
                        <th>姓名</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="g in goods | filter :key | orderBy : 'age' : isAsc">
                        <td>{{g.number}}</td>
                        <td>{{g.age}}</td>
                        <td>{{g.inTime | date:'yyyy-MM-dd'}}</td>
                        <!--将秒数改成日期格式 年-月-日-->
                        <td>{{g.name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>