<div class="row option-list">
    <div class="col-xs-12 col-sm-12 col-md-4 option-single">
        <div class="option-text" >发布时间</div>
        <div class="option-content">
            <start-Picker></start-Picker>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 option-single">
        <div class="option-text" >--</div>
        <div class="option-content">
            <end-picker></end-picker>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 option-single">
        <div class="option-text" >类型</div>
        <select class="option-content" ng-model="infoParams.type">
            <option value=""></option>
            <option ng-repeat="(x,y) in types " value="{{x}}">{{y}}</option>
        </select>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 option-single">
        <div class="option-text" >状态</div>
        <select class="option-content" ng-model="infoParams.status">
            <option value=""></option>
            <option ng-repeat="(x,y) in status" value="{{x}}">{{y}}</option>
        </select>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 option-btn">
        <div class="clear-btn" ng-click="empty()">清除</div>
        <div class="seek-btn" ng-click="search(infoParams.type,infoParams.status ,startAt,endAt)">搜索</div>
    </div>
</div>
<div class="show-list">
    <div class="show-header">
        <div class="show-title"></div>
        <div class="header-add" ng-click="newAdd()">+新增</div>
    </div>
</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>名称</th>
        <th>类型</th>
        <th>发布时间</th>
        <th>修改时间</th>
        <th>发布者</th>
        <th>状态</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="x in article| orderBy:'updateAt '" >
        <td>{{$index+1}}</td>
        <td>{{x.title}}</td>
        <td>{{x.type | typesFilter }}</td>
        <td>{{x.createAt | date:"yyyy-MM-dd"}}</td>
        <td>{{x.updateAt | date:"yyyy-MM-dd"}}</td>
        <td>{{x.author}}</td>
        <td>{{x.status | statusFilter}}</td>
        <td>
            <table>
                <tr>
                    <td ng-click="statuses(x.id,x.status)"><a href="">{{x.status | putAwayFilter}}</a>
                    </td>
                    <td class="tdMargin"><a href="" ng-click="newAdd (x.id )">编辑</a></td>
                    <td ng-click="delete(x.id)"><a href="" ng-click="expurgate(x.id)">删除</a></td>
                </tr>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<div class="paging-box">
    <a class="paging-btn"  ng-click="lastPage(pageAt)" ng-class="{disabled1:(pageAt==1)}">上一页</a>
    <ul class="pagination"  ng-repeat="x in pageGather">
        <li class="page-btn"  ng-click="goPage(x)" ng-class="{disabled:(pageAt==x)}"> <a>{{x}}</a></li>
    </ul>
    <a class="paging-btn" ng-class="{disabled1:(pageAt==articleNum)}" ng-click="nextPage(pageAt)">下一页	</a>
    <div>共<span ng-bind="articleNum"></span>页</div>
    <input  class="hop-text" type="text" ng-model="hopNum">
    <a class="paging-btn" ng-click="hopPape()">转跳</a>
</div>