/*CSS RESET Start*/
/*html5*/
article,aside,dialog,footer,header,main,section,footer,nav,figure,menu{display:block}
* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
html {/*1rem=10px*/
    font-size: 10px;
}
body {
    font-family: arial, "Microsoft YaHei";
    background: white;
}
input,textarea,select {
    font-size: 100%;    
    font-family: arial;
    font-family: inherit;
}
body,h1,h2,h3,h4,h5,h6,p,ul,ol,form {
    margin: 0;
}
h4,h5,h6 {
    font-size: 1em;
}
ul,ol {/*list type none*/
    padding-left: 0; 
    list-style-type: none;
}
a img {/*image with no-border*/
    border: 0;
}
img {
    max-width: 100%;
    border: 0;
}
a,a:hover,a:focus {
    text-decoration: none;
}
button {/*button with no-border&shadow*/
    border-style: none;
    outline-style: none;
}
/*CSS RESET END*/