<!doctype html>
<html ng-app="watchModule">
<meta charset="utf-8">
<title>demo</title>
<script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
<body>
<div ng-repeat="item in items">
    <input ng-model="item.value"/>
    <span>{{item.value}}</span>
    <br/><br/>
</div>
<div>
    change count: {{count}}
</div>
<script>
    angular.module("watchModule",[])
        .run(["$rootScope",function  ($rootScope) {
            $rootScope.count = 0;
            $rootScope.items = [
                { "value":1 },
                { "value":2 },
                { "value":3 },
                { "value":4 }
            ];
            $rootScope.$watch("items",function  () {
                $rootScope.count++;
            }
            ,true
            )
        }])
</script>
</body>
</html>