<div class="loginPage row" ng-controller="loginCtrl">
	<form class="loginBar" name="loginForm" novalidate ng-submit="loginSubmit()">
		<p class="title">后台登录</p>
		<div class="inputWrap username">
			<input ng-model="username" id="username" type="text" name="username" placeholder="用户名" required>
		</div>
		<div class="inputWrap password">
			<input ng-model="password" id="password" type="password" name="password" placeholder="密码" required>
		</div>
		<div class="infoHidden">
			<p class="info" ng-show="showValidation" ng-bind="getError(loginForm)"></p>
		</div>
		<button id="login" type="submit" class="btn btn-info" ng-disabled="loginForm.$invalid">登录</button>
	</form>
</div>