@import "all";
.dropdown-menu {
    min-width: 1.2rem;
    font-size: .16rem;
    th {
        width: auto;
        height: auto;
    }
    td {
        width: .3rem;
        height: auto;
    }
    .icon-arrow-left {
        @include arrow(.08rem, .08rem, .015rem, #ccc, -135deg);
    }
    .icon-arrow-right {
        @include arrow(.08rem, .08rem, .015rem, #ccc, 45deg);
    }
    tfoot {
        tr {
            .clear {
                display: block !important;
                margin: 0.02rem 0;
                color: #fff;
                background: #28a745;
            }
        }
    }
}

.article {
    .panel {
        padding: .15rem;
        margin-bottom: .2rem;
        background-color: #fff;
        border: .01rem solid #ddd;
        border-radius: .04rem;
        box-shadow: 0 .01rem .01rem rgba(0, 0, 0, .05);
    }
    .form-group {
        margin-bottom: .15rem;
        line-height: .35rem;
        .col-lg-4,
        .col-lg-2 {
            @media (min-width: 992px) {
                float: left;
            }
        }
        .grey-bg {
            background-color: #eee;
        }
        .col-pad {
            padding-left: 0;
            font-weight: bold;
            text-align: center;
            word-spacing: .26rem;
        }
    }
    .form-style {
        padding: 0;
        font-size: .16rem;
        border-radius: .04rem;
        height: .35rem;
        padding: .06rem .12rem;
        border: .01rem solid #ddd;
        box-shadow: 0 .01rem .01rem rgba(0, 0, 0, .05);
    }
    .ul-pages {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap;
        margin: .3rem 0;
        text-align: center;
        li {
            margin-right: .1rem;
            margin-bottom: .1rem;
            .input-page {
                margin: 0 .1rem;
                width: .6rem;
                text-align: center;
                background: #fff;
            }
        }
    }
    .mybtn {
        padding: .07rem .12rem;
        font-size: .18rem;
        border-radius: .04rem;
    }
    .pull-right {
        float: right;
    }
    .btn-green {
        color: #fff;
        background-color: #28a745;
        &:hover {
            box-shadow: 0 0 .08rem #28a745;
        }
    }
    .btn-red {
        color: #fff;
        background-color: #dc3545;
        &:hover {
            box-shadow: 0 0 .08rem #dc3545;
        }
    }
    .panel-heading {
        display: flex;
        justify-content: space-between;
        padding: .1rem .1rem;
        margin: -.15rem;
        line-height: .35rem;
        background: #f5f5f5;
        border-bottom: .01rem solid #ccc;
        .new {
            padding: 0 .05rem;
            border-radius: .04rem;
        }
    }
    .panel-body {
        background: #fff;
        table {
            width: 100%;
            margin-top: .3rem;
            border: .01rem solid #eee;
            box-shadow: 0 0 .08rem #eee;
            tr {
                border: .01rem solid #ccc;
            }
            tbody {
                tr {
                    &:nth-child(2n+1) {
                        background: #f9f9f9;
                    }
                }
            }
            th,
            td {
                padding: .1rem .2rem;
                max-width: 1.8rem;
                text-align: center;
                word-wrap: break-word;
                word-break: break-all;
                a {
                    margin: 0 .1rem;
                    color: #337ab7;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}